@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fb5092;
  font-family: lato, sans-serif;
}

.nav-icons svg {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.logo {
  display: flex;
}

nav h3 {
  color: white;
}

.arrow {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.currencies {
  background-color: #c02661;
  margin-right: 15px;
  border-radius: 20px;
  margin-top: 20px;
}

.currencies > div > a {
  font-size: 90%;
}

.currencies h2 {
  margin-bottom: -4px;
}

.currencies h2,
.currencies span {
  color: white;
  font-size: 90%;
}

.details-card {
  padding: 50px;
  margin-top: 50px;
  background-color: #c02661;
  border-radius: 20px;
}

.title {
  color: white;
}

.search-div {
  margin-bottom: 50px;
  border-radius: 10px;
}

.search-div input {
  background-color: rgb(231, 225, 225);
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.search-div button {
  border: none;
  background-color: #c02661;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.search-div button a {
  color: white;
}

.details-card > div {
  display: flex;
  flex-direction: column;
  color: white;
}

.details {
  font-size: 25px;
}
