* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fb5092;
}

.nav-icons svg {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

nav h3 {
  color: white;
}

.arrow {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.currencies {
  background-color: #c02661;
  margin-right: 15px;
  border-radius: 20px;
  margin-top: 20px;
}

.currencies h2,
.currencies span {
  color: white;
}

.details-card {
  padding: 50px;
  margin-top: 50px;
  background-color: #c02661;
  border-radius: 20px;
}

.title {
  color: white;
  margin-bottom: 20px;
}

.details-card > div {
  display: flex;
  flex-direction: column;
  color: white;
}

.details {
  font-size: 25px;
  margin-bottom: 20px;
}
